@tailwind base;
@tailwind components;
@tailwind utilities;


/* style logo */

.logoSize {
    height: 80px;
}

/* style inputs text */

.textInp {
    transition: 0.5s;
    border: none;
    outline: none;    
    border-radius: 12px;
}

.textInp:focus {
    background-color: rgba(255, 255, 255, 0.253);
    border: none;
    outline: none;
}

.btn-create {
    border-radius: 12px;
    width: 140px;
    margin: 0px auto;
    transition: .5s;
    margin-top: 25px;
}

.btn-create:hover {
    background-color: #382fe6;
    box-shadow: 0px 0px 20px 8px #382fe644;
}

.btns-Home {
    padding: 5px 10px;
    transition: .5s;
    border-radius: 12px;
}

.btns-Home:hover {
    background-color: #382fe6;
    border-radius: 12px;
}